<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Pagina Contacto</h1>
    <h3>Crear un Usuario</h3>
    <form action='/usuarioRegistrado/' method='post'>
        {% csrf_token %}
        Name: <input type='text' name='nombre'>
        Email: <input type='text' name='correo'>
        <button type='submit'>Crear Usuario</button>
    </form>



</body>
</html>